@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: local('☺'), url('../fonts/MyriadPro-Bold.woff2') format('woff2'),url('../fonts/MyriadPro-Bold.woff') format('woff'), url('../fonts/MyriadPro-Bold.ttf') format('truetype'), url('../fonts/MyriadPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff2') format('woff2'),url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: local('☺'), url('../fonts/MyriadPro-Semibold.woff2') format('woff2'),url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light.eot');
    src: local('☺'), url('../fonts/MyriadPro-Light.woff2') format('woff2'),url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    color: #666666;
    font-size: 15px;
    font-family: 'MyriadPro-Regular';
}
body,
html {
    height: 100%;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent;
    text-decoration: none;
}
a{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    color: #efbf4e;
}
a:hover,a:focus,a:active{
    text-decoration: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
section {
    width: 100%;
    padding: 80px 0;
    position: relative;
    clear: both;
    display: table;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #444444;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #444444;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
/* Header */
.navbar-default {
    background: none;
    border: 0;
}
.navbar-default .navbar-holder {
    background: #ffffff;
}
.navbar-header {
    background: #fffff;
}
.navbar-brand {
    height: auto;
}
.navbar-brand img {
    max-height: 55px;
}
@media (min-width: 768px){
    .navbar>.container .navbar-brand{
        margin-left: 0;
    }
    .navbar-nav>li>a {
        padding: 31px 0 30px 0;
    }
    .navbar-nav>li{
        padding: 0 15px;
    }
    .navbar-right{
        margin-right: 0;
    }
}
.navbar-nav>li>a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333333;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 100%;
}
.navbar-nav>li:before {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav>li:hover:before,.navbar-nav>li.active:before {
    width: 100%;
    background: #efbf4e;
}
.navbar-default .navbar-nav>li>a{
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #efbf4e;
    background: none;
}
.home-banner {
    height: 700px;
    padding-bottom: 169px;
}
.bg-image {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar-nav>li.top-search{
    margin-left: 30px;
    margin-right: 25px;
}
.navbar-nav>li.top-search a {
    font-size: 17px;
}
.navbar-nav>li.top-search:before{
    width: 0 !important;
}
/* DropDown */
.navbar-nav>li ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    text-transform: uppercase;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-top: 1px solid #efbf4e;
}
.navbar-nav>li>ul li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.navbar-nav>li>ul>li>a:hover {
    color: #fff;
    background: #efbf4e;
}
.navbar-nav>li:hover ul{
    display: block;
}
/* Search Overlay */
.search-overlay {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 9999;
    background: #fff;
    text-align: center;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    display: none;
}
.search-overlay input[type='text'] {
    background: none;
    border: none;
    font-size: 70px;
    color: #000;
    padding: 20px;
    font-weight: 400;
    outline: none;
}
.search-overlay button {
    border: none;
    font-size: 50px;
    top: 50%;
    margin-top: -25px;
    width: 55px;
    height: 50px;
    background: none !important;
    font-weight: 300;
    outline: none;
}
.search-overlay form {
    display: table;
    height: 100%;
    width: 100%;
}
.search-overlay div {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
    width: 100%;
}
button.search-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 10px;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: #000;
    font-style: normal;
    font-size: 30px;
    outline: none;
    margin-top: 10px;
}
div.middle {
    display: table;
    height: 100%;
}
div.middle > div {
    vertical-align: middle;
    display: table-cell;
    height: 100%;
}
.navbar-nav>li.top-flags a{
    float: left;
    margin: 0 2px;
}
.navbar-nav>li.top-flags:before{
    content: normal;
}
.home-banner h1 {
    font-size: 70px;
    color: #fff;
    margin-top: 5px;
}
div.banner-caption {
    margin: 0 auto;
    width: 650px;
    max-width: 650px;
}
.availability-box {
    position: absolute;
    z-index: 9;
    bottom: -52px;
    left: 0;
    right: 0;
}
.availability-box h5 {
    text-align: center;
    margin-bottom: 16px;
}
.availability-box .inner {
    background: #fff;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}
.availability-box .inner label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}
.availability-box .inner ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.availability-box .inner ul li {
    float: left;
    width: 33.33%;
    padding: 25px;
    border-right: 1px solid #d9d9d9;
}
.availability-box .inner ul li:last-child {
    border-right: none;
}
.availability-box .inner input[type="text"],.availability-box .inner .ui-selectmenu-button span.ui-selectmenu-text {
    font-size: 24px;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    width: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.availability-box .inner input[type="text"],.availability-box .inner .ui-selectmenu-button{
    background: url(../images/dropdown.png) right center no-repeat;
}
.availability-box .inner .ui-selectmenu-button{
    width: 100% !important;
    border: 0;
    outline: none;
}
.availability-box .inner .ui-selectmenu-button span.ui-icon{
    display: none;
}
.availability-box .inner input[type="submit"],.availability-box .inner button{
    background: #efbf4e;
    color: #fff;
    width: 100%;
    border: 0;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 5px;
    margin-top: -4px;
}
h3.title {
    margin-bottom: 30px;
    margin-top: 0;
}
/* Rooms */
.rooms-slider {
    padding-bottom: 60px;
}
.rooms-slider .carousel-indicators li {
    border-radius: 0;
    background: #cccccc;
    border-color: #cccccc;
}
.rooms-slider .carousel-indicators .active {
    background: #efbf4e;
    border-color: #efbf4e;
}
.rooms-slider .carousel-indicators {
    bottom: 0;
    margin-left: 0;
    right: 0;
    left: 0;
    width: auto;
    margin-bottom: 0;
    text-align: left;
}
.room-facilities {
    background: #fff;
    display: inline-block;
    max-width: 350px;
    width: 100%;
    padding: 25px;
    margin-top: 25px;
}
.room-facilities.border{
    -webkit-box-shadow: 0px 5px 30px 0px rgba(218, 218, 218, 0.16);
    -moz-box-shadow:    0px 5px 30px 0px rgba(218, 218, 218, 0.16);
    box-shadow:         0px 5px 30px 0px rgba(218, 218, 218, 0.16);
}
.room-facilities ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.room-facilities h4 {
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
}
.room-facilities h4:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 1px;
    bottom: 0;
    background: #000;
    left: 0;
}
.room-facilities ul li {
    font-size: 14px;
    margin-bottom: 18px;
}
#client-testimonials .inner {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.test-author {
    display: inline-block;
    margin-top: 55px;
}
.test-author img {
    float: left;
    max-width: 100px;
    height: auto;
}
.test-author div {
    float: left;
    padding-left: 25px;
}
.test-author h3 {
    font-size: 16px;
    color: #333333;
    margin-top: 25px;
}
#client-testimonials:before {
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #ccd5e2;
    font-size: 120px;
    position: absolute;
    top: -30px;
    right: 0;
    z-index: 9999;
    background: url('../images/quote.png') no-repeat right top;
    width: 250px;
    height: 160px;
}
.parallax {
    padding: 190px 0;
}
.service-box{
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 15px;
}
.service-box p {
    text-align: justify;
    line-height: 27px;
}
.service-box .fa {
    font-size: 48px;
    color: #efbf4e;
    margin-bottom: 40px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.service-box:hover .fa {
    color: #333333;
}
.service-box h4 {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 15px;
}
hr {
    border-top: 1px solid #ccc;
}
.margin-top-10 {
    margin-top: 10px;
}
.blog-post {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.blog-post .inner {
    background: #fff;
    padding: 18px;
    margin: -20px 15px 0 15px;
    position: relative;
    z-index: 9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #eeeeee;
    border-top: 0;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(218, 218, 218, 0.16);
    -moz-box-shadow:    0px 5px 30px 0px rgba(218, 218, 218, 0.16);
    box-shadow:         0px 5px 30px 0px rgba(218, 218, 218, 0.16);
}
.blog-post .inner h4 > a {
    color: #444444;
}
.blog-post .inner h4 {
    margin-bottom: 20px;
    margin-top: 0;
}
.meta-data{
    display: inline-block;
    width: 100%;
    margin: 10px 0 0 0;
}
.meta-data p {
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
}
.meta-data p span {
    color: #efbf4e;
    padding-left: 5px;
}
.meta-data .btn {
    font-size: 12px;
    padding: 9px 7px;
}
.call-to-action {
    padding: 52px 0;
}
.call-to-action h3 {
    margin-top: 10px;
}
.book-overlay {
    width: 100%;
    max-width: 730px;
    background: rgba(0, 44, 109, 0.50);
    color: #fff;
    margin: 65px auto;
    padding: 50px 100px;
    text-align: center;
}
.book-overlay h3 {
    color: #fff;
    margin-bottom: 24px;
}
.book-overlay .btn {
    margin-top: 35px;
}
.footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #cccccc;
    padding-top: 140px;
}
.footer a,.footer p {
    color: #cccccc;
}
.footer ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.footer ul li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 0 13px;
}
.footer ul li a:hover{
    color: #fff;
}
.weather-widget {
    float: left;
    width: 100%;
    padding-top: 65px;
    background: url("../images/cloud.png") top center no-repeat;
    color: #fff;
    font-size: 13px;
    margin-top: -70px;
}
.weather-widget .left {
    float: left;
}
.weather-widget h4,.weather-widget p {
    font-size: 13px;
    color: #fff;
    margin-bottom: 2px;
}
.weather-widget h3 {
    font-size: 27px;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}
.copyright {
    padding: 33px 0;
    text-align: center;
}
.copyright p,.copyright a{
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.slider-right,.slider-left{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: inline-block;
    background: #c8c8c9;
    color: #898889;
    font-size: 27px;
    margin-top: -30px;
}
.slider-right:hover,.slider-left:hover,.slider-right:active,.slider-left:active{
    color: #fff;
    background: #efbf4e;
}
.slider-right{
    right: 0;
}
.slider-left{
    left: 0;
}
.availability-box.ab-2 .inner{
    max-width: 950px;
}
.availability-box.ab-2 {
    bottom: 50px;
}
.availability-box.ab-2 .inner ul li{
    width: 25%;
}
.availability-box.ab-2 .inner input[type="submit"], .availability-box.ab-2 .inner button{
    width: 25%;
    float: left;
    margin-top: 0;
    padding: 54px 5px;
}
.vegas-timer-progress{
    background: #efbf4e;
    height: 3px;
}
.title.title-style2{
    padding-bottom: 32px;
    position: relative;
}
.title.title-style2:before {
    content: '';
    width: 100px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    background: #000;
    bottom: 12px;
}
.title.title-style2:after {
    content: '';
    width: 50px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    background: #000;
    bottom: 1px;
}
.title.title-style2.color-white:before,.title.title-style2.color-white:after{
    background: #fff;
}
#gmap {
    height: 400px;
}
/* Rooms */
.general-banner {
    height: 380px;
    text-align: center;
}
.general-banner h2 {
    margin-top: 10px;
}
.room-post {
    float: left;
    width: 100%;
    margin-bottom: 70px;
}
.room-post .inner {
    background: #fff;
    padding: 18px;
    margin: -20px 15px 0 15px;
    position: relative;
    z-index: 9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    border: 1px solid #eeeeee;
    border-top: 0;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(218, 218, 218, 0.16);
    -moz-box-shadow:    0px 5px 30px 0px rgba(218, 218, 218, 0.16);
    box-shadow:         0px 5px 30px 0px rgba(218, 218, 218, 0.16);
}
.room-post .inner h4 > a {
    color: #444444;
}
.room-post .inner h4 {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
}
.room-post .meta-data p {
    font-size: 14px;
    margin-top: 8px;
}
.pagination-block {
    float: left;
    width: 100%;
    padding: 25px 0 0 0;
    border-top: 1px solid #cccccc;
    position: relative;
}
.pagination-block .pagination {
    margin: 0;
    padding: 0;
}
.pagination>li:first-child>a, .pagination>li:first-child>span,.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0;
}
.pagination>li>a, .pagination>li>span{
    color: #333;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid transparent;
    padding: 6px 15px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover,.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background: none;
    border-color: #cccccc;
    color: #333;
}
a.angle-left,a.angle-right{
    position: absolute;
    font-size: 18px;
    color: #333333;
    top: 50%;
    margin-top: -2px;
}
a.angle-left {
    left: 0;
}
a.angle-right {
    right: 0;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.padding-0 {
    padding: 0;
}
.portfolioContainer div[class^="col-"], .portfolioContainer div[class*=" col-"] {
    padding: 0;
}
.margin-0-auto {
    margin: 0 auto;
}
.portfolioContainer .inner {
    overflow: hidden;
    position: relative;
}
a.outer-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.3);
    padding: 10px;
    color: #fff;
    z-index: 9;
    opacity: 0;
    transition: transform .35s ease-out;
    -webkit-transition: transform .35s ease-out;
    -o-transition: transform .35s ease-out;
    -moz-transition: transform .35s ease-out;
}
.overlay {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.75);
    color: #fff;
    z-index: 10;
    transition: transform .35s ease-out;
    -webkit-transition: transform .35s ease-out;
    -o-transition: transform .35s ease-out;
    -moz-transition: transform .35s ease-out;
}
.overlay .overlay-body{
    display: none;
    transition: transform 1.5s ease-out;
    -webkit-transition: transform 1.5s ease-out;
    -o-transition: transform 1.5s ease-out;
    -moz-transition: transform 1.5s ease-out;
    margin-top: 15px;
    padding: 0 25px 25px 25px;
}
.overlay h4{
    color: #ffffff;
    font-weight: 700;
    padding: 8px 25px;
}
.overlay p {
    font-size: 14px;
    margin-bottom: 0;
}
/* Rooms Single */
.carousel-indicators.slider-thumbs {
    list-style-type: none;
    margin-top: -50px;
    padding: 0 35px;
    display: inline-block;
    z-index: 9999;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    bottom: auto;
    left: auto;
}
.carousel-indicators.slider-thumbs li {
    display: inline-block;
    text-align: center;
    margin: 0 -2px;
    border: 1px solid #fff;
    overflow: hidden;
    background: #fff;
    text-indent: 0;
    height: auto;
    border-radius: 0;
    width: 25%;
}
.sroom-slider .item img {
    width: 100%;
}
.carousel-indicators.slider-thumbs img {
    max-width: 165px;
    cursor: pointer;
    width: 100%;
    height: auto;
    opacity: 0.7;
}
.carousel-indicators.slider-thumbs li.active img{
    opacity: 1;
}
.single-content p,.single-content {
    font-size: 14px;
    color: #333333;
}
.feature-list {
    padding: 0;
    margin: 25px 0;
    list-style-type: none;
}
.feature-list li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #666666;
    margin-bottom: 15px;
}
.feature-list li span {
    color: #333333;
    padding-right: 10px;
}
.content-meta {
    padding: 0;
    margin: 75px 0;
    list-style-type: none;
    border-top: 1px solid #ccc;
    display: inline-block;
    width: 100%;
}
.content-meta li {
    float: left;
    width: 33%;
    border-right: 1px solid #ccc;
    padding: 18px;
    text-align: center;
    font-style: italic;
}
.content-meta li:nth-child(2){
    font-style: normal;
}
.content-meta li:nth-child(2) a{
    margin: 0 5px;
}
.content-meta li:nth-child(2) a:hover {
    color: #000;
}
.content-meta li:last-child{
    border-right: 0;
}
.content-meta li,.content-meta li a, .content-meta li p{
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
ul.similar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}
ul.similar li {
    padding: 0 5px;
}
ul.similar li img {
    width: 100%;
}
ul.review-list {
    padding: 0;
    margin: 35px 0;
    list-style-type: none;
    display: inline-block;
    width: 100%;
}
ul.review-list li {
    float: left;
    width: 100%;
    background: #f7f7f7;
    padding: 13px;
    margin-bottom: 13px;
    position: relative;
}
ul.review-list li .left {
    float: left;
    width: 100px;
    margin-right: 18px;
}
ul.review-list li h5{
    font-size: 14px;
    font-weight: 700;
    color: #333333;
}
ul.review-list li p {
    font-size: 12px;
}
a.raply{
    position: absolute;
    right: 15px;
    top: 20px;
}
ul.review-list li h5 > small{
    padding-left: 10px;
}
.form-control {
    border-radius: 0;
    outline: none;
    box-shadow: none;
    height: 50px;
}
textarea.form-control {
    height: 225px;
}
.form-control:focus,.form-control:hover {
    border-color: #efbf4e;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 27px;
    margin-top: 5px;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: #efbf4e;
}
.sidebar {
    float: left;
    width: 100%;
    padding-left: 15px;
    color: #333333;
    font-size: 14px;
}
.sidebar .widget {
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.sidebar .widget h4 {
    font-size: 16px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 10px;
    margin-top: 0;
}
.sidebar .widget ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}
.sidebar .widget ul li a {
    color: #333333;
}
.sidebar .widget ul li a:hover {
    color: #efbf4e;
}
.sidebar .widget ul li {
    padding-left: 20px;
    position: relative;
    margin-bottom: 15px;
}
.sidebar .widget ul li:last-child {
    margin-bottom: 0;
}
.sidebar .widget ul li:before {
    content: '-';
    position: absolute;
    left: 0;
    font-size: 18px;
    top: -3px;
}
.sidebar .widget ul.popular-item li{
    background: #f7f7f7;
    padding: 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.sidebar .widget ul.popular-item li:before{
    content: normal;
}
.sidebar .widget ul.popular-item li img {
    float: left;
    max-width: 70px;
    height: auto;
    margin-right: 15px;
}
.sidebar .widget ul.popular-item li .desc{
    float: left;
}
.sidebar .widget ul.popular-item li .desc h5 {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.sidebar .widget ul.popular-item li .desc p {
    font-size: 12px;
    color: #999999;
}
.sidebar .widget ul.popular-item li .desc a {
    color: #333;
}
.featured-room {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}
.featured-room img {
    width: 100%;
}
.feature-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(51, 51, 51, 0.5);
    color: #fff;
    padding: 15px;
}
.feature-overlay h5, .feature-overlay h5 > a {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
}
.feature-overlay p {
    font-size: 12px;
}
.feature-overlay > div {
    display: table;
    height: 100%;
}
.feature-overlay .inner {
    display: table-cell;
    vertical-align: bottom;
}
.featured-room .sale-badge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 5px;
    font-size: 16px;
    color: #fff;
    background: #efbf4e;
    z-index: 9;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}
.single-content label {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 13px;
}
.reservation-form .form-group {
    margin-bottom: 30px;
}
.reservation-form textarea.form-control {
    height: 140px;
}
.single-content blockquote {
    padding: 60px 20px 40px 0;
    border: 0;
    position: relative;
    margin-bottom: 0;
}
.single-content blockquote,.single-content blockquote p {
    color: #666666;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}
blockquote:after{
    content: '';
    width: 56px;
    height: 35px;
    position: absolute;
    background: url("../images/small-quote.png") center center no-repeat;
    right: 0;
    top: 40px;
}
.sidebar .widget ul.instagram-feed li {
    width: 33.33%;
    float: left;
    margin-bottom: 7px;
    padding-right: 3px;
    padding-left: 4px;
}
.sidebar .widget ul.instagram-feed li:before {
    content: normal;
}
.tagcloud {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.tagcloud a {
    color: #333333;
    padding-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.tagcloud a:hover {
    color: #efbf4e;
}
.sidebar.lefto {
    padding-left: 0;
    padding-right: 15px;
}
.contact-info {
    width: 100%;
    float: left;
    text-align: center;
}
.contact-info .fa {
    font-size: 48px;
    color: #efbf4e;
    margin-bottom: 35px;
}
.contact-info h5 {
    font-size: 14px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
}
ul.contact-details {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
}
ul.contact-details li {
    margin-bottom: 70px;
    float: left;
    width: 25%;
}
ul.contact-details li a{
    color: #666;
}
/* Gallery Pages */
div.inset-overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(51, 51, 51, 0.5);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
div.inset-overlay a:before{
    content: '';
    position: absolute;
    left: 25px;
    right: 25px;
    top: 25px;
    bottom: 25px;
    -webkit-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
    -moz-box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
    box-shadow: inset 0px 0px 0px 4px rgba(255,255,255,1);
}
div.inset-overlay a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    transform: translateY(150%);
    -webkit-transform: translateY(150%);
    -moz-transform: translateY(150%);
    -o-transform: translateY(150%);
    transition: transform .35s ease-out;
    -webkit-transition: transform .35s ease-out;
    -o-transition: transform .35s ease-out;
    -moz-transition: transform .35s ease-out;
}
div.inset-overlay a:after{
    content: '\f065';
    font-family: FontAwesome;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgba(255, 255, 255, 0.75);
    color: #454545;
    font-size: 27px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    margin-left: -30px;
}
#vlb1overlay {
    position: fixed;
    z-index: 9999;
}
#vlb1lightbox {
    z-index: 9999;
}
div.inset-overlay:hover a{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -moz-transform: translateY(0);
}
div.inset-overlay:hover {
    background: none;
}
.portfolioContainer img {
    width: 100%;
}
.margin25 .inner {
    margin: 13px;
}
.gallery-slider .carousel-indicators li {
    border-radius: 0;
    background: #cccccc;
    border-color: #cccccc;
}
.gallery-slider .carousel-indicators .active {
    background: #efbf4e;
    border-color: #efbf4e;
}
.carousel.gallery-slider{
    padding-bottom: 90px;
}
.carousel.gallery-slider .carousel-indicators{
    bottom: 0;
}
.control-holder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 110px;
    text-align: center;
    z-index: 99;
}
.control-holder a {
    font-size: 19px;
    color: #fff;
    font-style: italic;
    margin: 0 7px;
}
.carousel.gallery-slider .item img {
    width: 100%;
}
ul.children {
    list-style-type: none;
}

.footer-section {
    position: relative;
    padding: 80px 0;
}
.footer-section:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
}
.footer-widget h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 40px;
}
.footer-widget p {
    color: #cccccc;
}
.footer-menu ul {
    padding: 0;
    list-style: none;
}
.footer-menu ul li{
    float: left;
    width: 50%;
    margin-bottom: 25px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    position: relative;
}
.footer-menu ul li:nth-child(9), .footer-menu ul li:nth-child(10){
    margin-bottom: 0;
}
.footer-menu ul li a {
    color: #cccccc;
}
.footer-menu ul li:before {
    font-family: "Ionicons";
    content: "\f462";
    font-size: 28px;
    position: absolute;
    left: 0;
    color: #019bad;
    top: 0;
    line-height: 23px;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
}
.footer-menu ul li:hover {
    padding-left: 25px;
}
.footer-menu ul li:hover a {
    color: #019bad;
}
.footer-menu ul li:hover:before {
    opacity: 1;
}
.socials_icons a{
    width: 37px;
    height: 37px;
    color: #ccc;
    border: 1px solid #ccc;
    padding: 9px 5px;
    text-align: center;
    border-radius: 50%;
    font-size: 18px;
    margin-right: 10px;
}
.socials_icons a:hover {
    color: #fff;
    background: #019bad;
}
.widget-gallery ul {
    padding: 0;
}
.widget-gallery ul li {
    float: left;
    width: 25%;
    list-style: none;
    margin-bottom: 8px;
    padding: 0 4px;
}
.copyright {
    display: inline-block;
    width: 100%;
    height: 70px;
    padding: 26px;
}
.footer-widget h4 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 40px;
}