@media (min-width: 1200px) {
}
@media (max-width: 1199px) and (min-width: 992px) {
    .meta-data .btn{
        font-size: 10px;
    }
}
@media (max-width: 991px){
    .rooms-details {
        margin-top: 25px;
    }
    .availability-box.ab-2{
        padding: 0 15px;
    }
    .blog-post img {
        width: 100%;
    }
    .footer{
        padding-top: 80px;
    }
    .weather-widget {
        margin-top: 15px;
        text-align: center;
        margin-bottom: 25px;
    }
    .weather-widget h3 {
        display: inline-block;
        float: none;
    }
    .weather-widget .left {
        float: none;
        display: inline-block;
    }
    .footer .widget {
        margin-bottom: 25px;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .sidebar .widget ul.popular-item li img{
        width: 30%;
    }
    .sidebar .widget ul.popular-item li .desc {
        width: 60%;
    }
    .navbar-nav>li.top-search{
        margin: 0 15px;
    }
    .navbar-nav>li {
        padding: 0 5px;
    }
}
@media (max-width: 767px){
    ul.contact-details li{
        width: 100%;
    }
    .portfolioContainer div[class^="col-"], .portfolioContainer div[class*=" col-"]{
        width: 100%;
    }
    .sidebar{
        margin-top: 25px;
    }
    .content-meta li{
        width: 100%;
        border: 0;
    }
    .slider-right, .slider-left{
        width: 30px;
        height: 45px;
        line-height: 45px;
        margin-top: -22px;
    }
    div.banner-caption{
        width: 100%;
    }
    .availability-box .inner ul li{
        border: 0;
    }
    .availability-box.ab-2 .inner input[type="submit"], .availability-box.ab-2 .inner button{
        width: 100%;
        padding: 15px 5px;
    }
    .availability-box.ab-2{
        bottom: -52px;
    }
    .availability-box.ab-2 .inner ul li {
        width: 100%;
    }
    .navbar-default .navbar-collapse{
        max-height: 250px;
        border-bottom: 4px solid #303781;
    }
    .navbar-nav>li ul{
        position: relative;
        width: 100%;
        display: block;
    }
    .pull-right{
        float: none !important;
    }
    .service-box{
        margin-bottom: 25px;
    }
    #client-testimonials:before{
        width: 100px;
        height: 100px;
        background-size: 100%;
        top: 10px;
    }
    .padding-top-130 {
        padding-top: 80px;
    }
    div.middle > div{
        padding: 100px 0;
        display: inline-block;
        height: auto;
    }
    .availability-box .inner label {
        margin-bottom: 5px;
    }
    .search-overlay input[type='text']{
        font-size: 18px;
    }
    .search-overlay button{
        font-size: 25px;
    }
    .availability-box .inner ul li {
        width: 100%;
        padding: 10px 10px 0 10px;
    }
    .home-banner {
        height: 550px;
        padding-bottom: 25px;
    }
    .navbar-toggle{
        margin-top: 22px;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .home-banner h1 {
        font-size: 28px;
    }
    .availability-box {
        padding: 0 15px;
    }
    .book-overlay{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 767px) and (min-width: 736px) {
}
@media (max-width: 735px) and (min-width: 685px) {
}
@media (max-width: 684px) and (min-width: 667px) {
}
@media (max-width: 666px) and (min-width: 568px) {
}
@media (max-width: 567px) and (min-width: 480px) {
}
@media (max-width: 479px){
    ul.review-list li .left{
        width: 48px;
    }
    .room-post .inner{
        margin-left: 7px;
        margin-right: 7px;
    }
    .general-banner{
        padding: 50px 0;
    }
    .footer ul li {
        padding: 0 5px;
        font-size: 12px;
    }
    .meta-data .btn{
        font-size: 10px;
    }
    .meta-data .btn.pull-right{
        float: right !important;
    }
    .blog-post .inner{
        margin-left: 7px;
        margin-right: 7px;
        padding-left: 7px;
        padding-right: 7px;
    }
}
@media (max-width: 479px) and (min-width: 414px) {
}
@media (max-width: 413px) and (min-width: 375px) {
}
@media (max-width: 374px) and (min-width: 320px) {
}